
<!doctype html>
<html>
<head>
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"> </script>
    <!---
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='snippet-javascript-console.min.js') }}"> </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}"> 
    --> 
    <style type="text/css"> 
        .datatable{
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 50px;
        }
        th, td {
            border: 1px solid black;
            border-collapse: collapse; 
        }
        .state{
            margin-left: 50px;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 10px;
        }
        .column2 {
            float: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .checkboxes {
           margin-left: 50px;
        }
        .size-12 {
            font-size: 18px;
        }
        input[type=checkbox][disabled]{
            outline:2px solid red;
        }

    </style>
</head>

<body>
    <div id="loading">Loading</div>
    <div class="row">
        <div class="column">
            <table id="datatable" class="datatable"> </table>
            <br> 
            <select id="state" class="state"
                               onchange="console.log(this);console.log(this.selectedIndex);change_state(this.options[this.selectedIndex].text);">
                 {% for state in states %}
                 <option> {{state}} </option>
                 {% endfor %}
            </select>
            <br>
            <div class="checkboxes">
            <input type="checkbox"  id="manual"
                                    onclick="console.log(this.checked);">
                Manual<br>
            <br>
            <input type="checkbox"  id="hp" class="switch"
                                    onclick="clicked_switch(this);">
                Pump On<br>
            <br>
            <input type="checkbox"  id="hs" class="switch"
                                    onclick="clicked_switch(this);">
                Switch On<br>
            <br>
            <div id="compressor_div"> 
                <input type="checkbox"  id="compressor" class="switch"
                    onclick="console.log(this.checked);">
                Compressor<br>
                </div>
            <br>
            Recycle Hour:
            <input type="number" class="size-12" value="2" min="-1" max="23">
            <div id="next">
                Next Recycle Time: "Need to fix this"
            </div>

            </div>
        </div>
        <div class="column2">
            <div id="mainGraph" class="mainGraph" > </div>
        </div>
    </div>

    <!-- allows page refresh every 10 seconds -->
    <!meta http-equiv="refresh" content="10" >

</body>

    <!-- 
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    -->
    <script type="text/javascript" charset="utf-8">
        /**
         * Set Select Box Selection By Text
         * @param eid Element ID
         * @param eval Element Index
         */
        function setSelectBoxByText(eid, etxt) {
            var eid = document.getElementById(eid);
            for (var i = 0; i < eid.options.length; ++i) {
                if (eid.options[i].text === etxt)
                    eid.options[i].selected = true;
            }
        }
        function update_manual(data) {
            if (data=="manual") {
                var eid = document.getElementById("manual");
                eid.checked = true; 
            } else {
                var eid = document.getElementById("manual");
                eid.checked = false; 
                }
            switches = document.getElementsByClassName("switch");
            for (i=0; i<switches.length; i++) {
                switches[i].disabled = !eid.checked;
                }
            }
        function change_state(state) {
            update_manual(state);
            }
        function update_switches(table_names, table_data) {
            switches = document.getElementsByClassName("switch");
            for (i=0; i<switches.length; i++) {
                switch_name = switches[i].id;
                if (table_data[switch_name]>0) {
                   switches[i].checked = true;
                } else {
                   switches[i].checked = false;
                }
            }
        }
        function clicked_switch(checkbox) {
            console.log('clicked '+checkbox.id + ' state: '+checkbox.checked);
            socket.emit('switch', {name: checkbox.id,
                                state: checkbox.checked});

        }
        function update_recycle_time() {
            console.log('update_recycle_time not implemented');
        } 
        var graphs = {{graphJSON | safe}};
        Plotly.plot('mainGraph',graphs.data,graphs.layout || {});
        // console.log(graphs)

        // Connect to the Socket.IO server.
        var socket = io.connect('http://'  + document.domain + ':' + location.port );
        // Event handler for new connections.
        // The callback function is invoked when a connection with the
        // server is established.
        var names;
        socket.on('connect', function(msg) {
            console.log('connected');
            console.log('connected msg:', msg);
            //console.log(typeof(msg));
            names = msg;
            //socket.emit('my_event', {data: 'I\'m connected!'});
        });
        var currentstate;
        socket.on('fridge_state', function(data){
            // console.log(data);
            // console.log('currentstate', currentstate, currentstate!=data);
            if (currentstate != data) {
                currentstate = data;
                console.log('Update state to :', currentstate);
                setSelectBoxByText("state", data);
                update_manual(data);
                }
            });

        socket.on('new_data', function(data){
            //console.log("madeeee it");
            //console.log(data)
            var table = document.getElementById('datatable');
            table.innerHTML="";
            var idx = 0;
            // Update table
            var sensor_names = names['graph'];
            var graph = data['graph'];
            var table_data = data['table'];
            var table_names = names['table'];
            // console.log(table_data);
            // console.log(table_names);
            for (var name in table_names) {
                var tr = document.createElement('tr');
                var td = document.createElement('td');
                td.width=75
                td.innerHTML = table_names[name];
                tr.appendChild(td);
                td = document.createElement('td');
                td.align = "right"
                td.innerHTML = parseFloat(table_data[table_names[name]]).toFixed(3);
                td.width=75
                tr.appendChild(td);
                table.appendChild(tr);
                idx = idx + 1;
            }
            // Update graph
            var list = [];
            for (var i = 0; i < sensor_names.length; i++) {
                list.push(i);
            }
            // update = {x:[data['x'][0]], y:[ data['y'][0] ]}
            // Plotly.extendTraces('mainGraph', update, [1]);
            Plotly.extendTraces('mainGraph', graph, list);
            update_switches(table_names, table_data);
            //  Update time
            var d = new Date();
            var n = d.toLocaleString();
            document.getElementById("loading").innerHTML = 'Last update: '+n;
        });
        update_recycle_time()
        document.getElementById("compressor_div").style.display = "none"
        mainGraph.on('plotly_relayout',
            function(eventdata){
                if ("xaxis.range[0]" in eventdata) {
                    console.log(eventdata);
                    alert( 'ZOOM!' + '\n\n' +
                        'Event data:' + '\n' + 
                        JSON.stringify(eventdata) + '\n\n' +
                        'x-axis start:' + eventdata['xaxis.range[0]'] + '\n' +
                        'x-axis end:' + eventdata['xaxis.range[1]'] );
                    }
        });
    </script>

</html>
